# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: check-builtin-literals
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.11
  hooks:
    - id: ruff-check
      args: [--fix, --extend-select, "I,UP"]
    - id: ruff-format
- repo: https://github.com/hadialqattan/pycln
  rev: v2.6.0
  hooks:
  - id: pycln
    args: [--config=pycln.toml]
